.chord-preview {
  border: 2px solid #222;
  border-radius: 14px;
  padding: 20px;
  width: 335px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.chord-preview h2 {
  font-size: 26px;
  color: var(--neon-green);
  font-family: var(--font-primary);
  margin-bottom: 10px;
  font-weight: 700;
}

.chord-diagram {
  width: 90%;
  margin: 10px auto 20px auto;
}

.chord-name {
  color: var(--neon-green);
  font-size: 22px;
  font-weight: 700;
}

.chord-link {
  margin-top: 8px;
  font-size: 14px;
  color: var(--text-secondary);
  text-decoration: underline;
  cursor: pointer;
}
